<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AVCaptureDevices</key>
	<array>
		<dict>
			<key>AVCaptureSessionPreset640x480</key>
			<dict>
				<key>Description</key>
				<string>VGA Video</string>
				<key>LiveSourceOptions</key>
				<dict>
					<key>Capture</key>
					<dict>
						<key>Height</key>
						<integer>800</integer>
						<key>PixelFormatType</key>
						<string>420v</string>
						<key>Width</key>
						<integer>1080</integer>
					</dict>
					<key>MaxFrameRate</key>
					<integer>30</integer>
					<key>MinFrameRate</key>
					<integer>30</integer>
					<key>Preview</key>
					<dict>
						<key>Height</key>
						<integer>640</integer>
						<key>PixelFormatType</key>
						<string>420v</string>
						<key>Width</key>
						<integer>480</integer>
					</dict>
					<key>Sensor</key>
					<dict>
						<key>Height</key>
						<integer>1080</integer>
						<key>PixelFormatType</key>
						<string>yuvs</string>
						<key>Width</key>
						<integer>1920</integer>
					</dict>
					<key>TemporalNoiseReductionMode</key>
					<integer>1</integer>
				</dict>
				<key>OverridePrefixes</key>
				<string>AV:,V_ALL:</string>
				<key>PresetName</key>
				<string>av</string>
				<key>VideoCodec</key>
				<string>avc1</string>
				<key>VideoCompressionProperties</key>
				<dict>
					<key>AverageDataRate</key>
					<integer>800000</integer>
					<key>ConvergenceDurationForAverageDataRate</key>
					<integer>60</integer>
					<key>DataRateLimits</key>
					<array>
						<integer>40000000</integer>
						<integer>19</integer>
					</array>
					<key>FrameLevelRateControl</key>
					<integer>2</integer>
					<key>MaxKeyFrameIntervalDuration</key>
					<integer>1</integer>
					<key>ProfileLevel</key>
					<string>H264_Baseline_3_1</string>
				</dict>
			</dict>
			<key>AVCaptureSessionPreset960x540</key>
			<dict>
				<key>Description</key>
				<string>960x540 Video</string>
				<key>LiveSourceOptions</key>
				<dict>
					<key>Binned</key>
					<true/>
					<key>Capture</key>
					<dict>
						<key>Height</key>
						<integer>540</integer>
						<key>Width</key>
						<integer>960</integer>
					</dict>
					<key>MaxFrameRate</key>
					<integer>30</integer>
					<key>MinFrameRate</key>
					<integer>15</integer>
					<key>Preview</key>
					<dict>
						<key>Height</key>
						<integer>270</integer>
						<key>Width</key>
						<integer>480</integer>
					</dict>
					<key>Sensor</key>
					<dict>
						<key>Height</key>
						<integer>540</integer>
						<key>PixelFormatType</key>
						<string>420v</string>
						<key>Width</key>
						<integer>960</integer>
					</dict>
					<key>TemporalNoiseReductionMode</key>
					<integer>1</integer>
				</dict>
				<key>VideoCompressionProperties</key>
				<dict>
					<key>AverageDataRate</key>
					<integer>738282</integer>
					<key>ConvergenceDurationForAverageDataRate</key>
					<integer>60</integer>
					<key>DataRateLimits</key>
					<array>
						<integer>16875000</integer>
						<integer>19</integer>
					</array>
					<key>FrameLevelRateControl</key>
					<integer>2</integer>
					<key>MaxKeyFrameIntervalDuration</key>
					<integer>1</integer>
					<key>ProfileLevel</key>
					<string>H264_Baseline_3_1</string>
				</dict>
			</dict>
			<key>AVCaptureSessionPresetCommon</key>
			<dict>
				<key>LiveSourceOptions</key>
				<dict>
					<key>Capture</key>
					<dict>
						<key>PixelFormatType</key>
						<string>420v</string>
					</dict>
					<key>FullResolutionPreview</key>
					<true/>
					<key>Preview</key>
					<dict>
						<key>PixelFormatType</key>
						<string>420v</string>
					</dict>
					<key>Sensor</key>
					<dict>
						<key>PixelFormatType</key>
						<string>yuvs</string>
					</dict>
				</dict>
				<key>OverridePrefixes</key>
				<string>V:,V_ALL:</string>
				<key>PresetName</key>
				<string>v</string>
				<key>VideoCodec</key>
				<string>avc1</string>
			</dict>
			<key>AVCaptureSessionPresetHigh</key>
			<dict>
				<key>Description</key>
				<string>VGA Video</string>
				<key>LiveSourceOptions</key>
				<dict>
					<key>Capture</key>
					<dict>
						<key>Height</key>
						<integer>800</integer>
						<key>Width</key>
						<integer>1080</integer>
					</dict>
					<key>MaxFrameRate</key>
					<integer>30</integer>
					<key>MinFrameRate</key>
					<integer>30</integer>
					<key>Preview</key>
					<dict>
						<key>Height</key>
						<integer>480</integer>
						<key>Width</key>
						<integer>640</integer>
					</dict>
					<key>Sensor</key>
					<dict>
						<key>Height</key>
						<integer>1080</integer>
						<key>Width</key>
						<integer>1920</integer>
					</dict>
					<key>TemporalNoiseReductionMode</key>
					<integer>1</integer>
				</dict>
				<key>VideoCompressionProperties</key>
				<dict>
					<key>AverageDataRate</key>
					<integer>800000</integer>
					<key>ConvergenceDurationForAverageDataRate</key>
					<integer>60</integer>
					<key>DataRateLimits</key>
					<array>
						<integer>40000000</integer>
						<integer>19</integer>
					</array>
					<key>FrameLevelRateControl</key>
					<integer>2</integer>
					<key>MaxKeyFrameIntervalDuration</key>
					<integer>1</integer>
					<key>ProfileLevel</key>
					<string>H264_Baseline_3_1</string>
				</dict>
			</dict>
			<key>AVCaptureSessionPresetLow</key>
			<dict>
				<key>Description</key>
				<string>Low Quality Video</string>
				<key>LiveSourceOptions</key>
				<dict>
					<key>Capture</key>
					<dict>
						<key>Height</key>
						<integer>144</integer>
						<key>Width</key>
						<integer>192</integer>
					</dict>
					<key>MaxFrameRate</key>
					<integer>15</integer>
					<key>MinFrameRate</key>
					<integer>7</integer>
					<key>Preview</key>
					<dict>
						<key>Height</key>
						<integer>144</integer>
						<key>Width</key>
						<integer>192</integer>
					</dict>
					<key>Sensor</key>
					<dict>
						<key>Height</key>
						<integer>480</integer>
						<key>Width</key>
						<integer>640</integer>
					</dict>
					<key>TemporalNoiseReductionMode</key>
					<integer>1</integer>
				</dict>
				<key>VideoCompressionProperties</key>
				<dict>
					<key>AverageDataRate</key>
					<integer>16000</integer>
					<key>ConvergenceDurationForAverageDataRate</key>
					<integer>60</integer>
					<key>FrameLevelRateControl</key>
					<integer>2</integer>
					<key>MaxKeyFrameIntervalDuration</key>
					<integer>1</integer>
					<key>ProfileLevel</key>
					<string>H264_Baseline_3_0</string>
				</dict>
			</dict>
			<key>AVCaptureSessionPresetMedium</key>
			<dict>
				<key>Description</key>
				<string>Medium Quality Video</string>
				<key>LiveSourceOptions</key>
				<dict>
					<key>Capture</key>
					<dict>
						<key>Height</key>
						<integer>360</integer>
						<key>Width</key>
						<integer>480</integer>
					</dict>
					<key>MaxFrameRate</key>
					<integer>30</integer>
					<key>MinFrameRate</key>
					<integer>15</integer>
					<key>Preview</key>
					<dict>
						<key>Height</key>
						<integer>360</integer>
						<key>Width</key>
						<integer>480</integer>
					</dict>
					<key>Sensor</key>
					<dict>
						<key>Height</key>
						<integer>480</integer>
						<key>Width</key>
						<integer>640</integer>
					</dict>
					<key>TemporalNoiseReductionMode</key>
					<integer>1</integer>
				</dict>
				<key>VideoCompressionProperties</key>
				<dict>
					<key>AverageDataRate</key>
					<integer>87500</integer>
					<key>ConvergenceDurationForAverageDataRate</key>
					<integer>60</integer>
					<key>FrameLevelRateControl</key>
					<integer>2</integer>
					<key>MaxKeyFrameIntervalDuration</key>
					<integer>1</integer>
					<key>ProfileLevel</key>
					<string>H264_Baseline_3_0</string>
				</dict>
			</dict>
			<key>AVCaptureSessionPresetPhoto</key>
			<dict>
				<key>Description</key>
				<string>3MP Photo</string>
				<key>ExcludedOutputs</key>
				<dict>
					<key>AVCaptureAudioDataOutput</key>
					<dict>
						<key>ConnectionMediaTypes</key>
						<array>
							<string>soun</string>
						</array>
					</dict>
					<key>AVCaptureMovieFileOutput</key>
					<dict>
						<key>ConnectionMediaTypes</key>
						<array>
							<string>vide</string>
							<string>soun</string>
						</array>
					</dict>
				</dict>
				<key>LiveSourceOptions</key>
				<dict>
					<key>AFScoreBracketing</key>
					<true/>
					<key>Capture</key>
					<dict>
						<key>Height</key>
						<integer>1536</integer>
						<key>PixelFormatType</key>
						<string>420f</string>
						<key>Width</key>
						<integer>2048</integer>
					</dict>
					<key>ChromaNoiseReduction</key>
					<true/>
					<key>MaxFrameRate</key>
					<integer>15</integer>
					<key>MinFrameRate</key>
					<integer>10</integer>
					<key>Preview</key>
					<dict>
						<key>Height</key>
						<integer>384</integer>
						<key>PixelFormatType</key>
						<string>420f</string>
						<key>Width</key>
						<integer>512</integer>
					</dict>
					<key>Sensor</key>
					<dict>
						<key>Height</key>
						<integer>1536</integer>
						<key>PixelFormatType</key>
						<string>420f</string>
						<key>Width</key>
						<integer>2048</integer>
					</dict>
				</dict>
				<key>OverridePrefixes</key>
				<string>P:</string>
				<key>PresetName</key>
				<string>p</string>
			</dict>
			<key>ExposureCenterWindowSize</key>
			<real>0.75</real>
			<key>ExposurePointOfInterestWindowSize</key>
			<real>0.34999999999999998</real>
			<key>FocusCenterWindowSize</key>
			<real>0.40000000000000002</real>
			<key>FocusPointOfInterestWindowSize</key>
			<real>0.25</real>
			<key>exposureModes</key>
			<array>
				<integer>0</integer>
				<integer>2</integer>
			</array>
			<key>exposurePointOfInterestSupported</key>
			<true/>
			<key>focusModes</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>localizedName</key>
			<string>Camera</string>
			<key>mediaType</key>
			<string>vide</string>
			<key>modelID</key>
			<string>com.apple.avfoundation.avcapturedevice.built-in_video:0</string>
			<key>position</key>
			<integer>1</integer>
			<key>uniqueID</key>
			<string>com.apple.avfoundation.avcapturedevice.built-in_video:0</string>
			<key>whiteBalanceModes</key>
			<array>
				<integer>0</integer>
				<integer>2</integer>
			</array>
		</dict>
		<dict>
			<key>AVCaptureSessionPreset1280x720</key>
			<dict/>
			<key>AVCaptureSessionPreset640x480</key>
			<dict/>
			<key>AVCaptureSessionPreset960x540</key>
			<dict/>
			<key>AVCaptureSessionPresetCommon</key>
			<dict>
				<key>AudioCodec</key>
				<string>aac </string>
				<key>Description</key>
				<string>Audio Recording</string>
				<key>PresetName</key>
				<string>a</string>
			</dict>
			<key>AVCaptureSessionPresetConferencing</key>
			<dict>
				<key>AudioPreset</key>
				<string>Preset_AAC_22kHz_Mono_24kbit</string>
			</dict>
			<key>AVCaptureSessionPresetHigh</key>
			<dict/>
			<key>AVCaptureSessionPresetLow</key>
			<dict>
				<key>AudioPreset</key>
				<string>Preset_AAC_22kHz_Mono_24kbit</string>
				<key>Description</key>
				<string>Low Quality Audio</string>
			</dict>
			<key>AVCaptureSessionPresetMedium</key>
			<dict/>
			<key>AVCaptureSessionPresetPhoto</key>
			<dict/>
			<key>AVCaptureSessionPresetVoicemailGreeting</key>
			<dict>
				<key>AudioCodec</key>
				<string>samr</string>
				<key>Description</key>
				<string>Voicemail</string>
				<key>FormatWriterOptions</key>
				<dict>
					<key>FileFormat</key>
					<string>AMRAudioFile</string>
				</dict>
			</dict>
			<key>AVCaptureSessionPresetiFrame</key>
			<dict/>
			<key>mediaType</key>
			<string>soun</string>
			<key>modelID</key>
			<string>com.apple.avfoundation.avcapturedevice.built-in_audio:0</string>
			<key>uniqueID</key>
			<string>com.apple.avfoundation.avcapturedevice.built-in_audio:0</string>
		</dict>
	</array>
</dict>
</plist>
